
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        color: #fff;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .container {
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 15px;
        padding: 40px;
        max-width: 600px;
        width: 100%;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.2);
    }
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
    }
    .contact-form input,
    .contact-form textarea {
        font-family: 'Roboto', sans-serif;
        background-color: rgba(255, 255, 255, 0.2);
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 15px;
        font-size: 16px;
        color: #fff;
    }
    .contact-form input::placeholder,
    .contact-form textarea::placeholder {
        color: #eee;
    }
    .contact-form input:focus,
    .contact-form textarea:focus {
        outline: none;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .contact-form button {
        font-family: 'Roboto', sans-serif;
        background-color: #fff;
        color: #667eea;
        border: none;
        border-radius: 5px;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }
    .contact-form button:hover {
        background-color: #f6f6f6;
    }
    /* Style pour le message de remerciement */
    #thank-you-message {
        color: #fff;
        text-align: center;
        margin-top: 20px;
        display: none;
        font-size: 1.2rem;
        background-color: #667eea;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    /* Style pour le bouton "Retour à l'accueil" */
    #back-to-home {
        background-color: #fff;
        color: #667eea;
        border: none;
        border-radius: 5px;
        padding: 15px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 10px;
    }
    #back-to-home:hover {
        background-color: #f6f6f6;
    }